<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
</head>
<body>
<h2>Изменить пользователя</h2>
<form th:action="@{/admin/{id}(id=${user.id})}"
      th:object="${user}" method="post">
    <p>Username: <input type="text" th:field="*{username}" required/></p>
    <p>Имя: <input type="text" th:field="*{name}" required/></p>
    <p>Email: <input type="email" th:field="*{email}" required/></p>
    <p>Возраст: <input type="number" th:field="*{age}" required/></p>
    <button type="submit">Сохранить</button>
</form>
<a th:href="@{/admin}">Назад</a>

</body>
</html>
